<mat-dialog-content>
<mat-card>
<h1>{{timelog['logitem'].day}}</h1>
<form #editLog="ngForm" (ngSubmit)="onSave(editLog)" >
  <p>
    <label for="startAt">Start time: </label><input type="time" id="startAt" value="{{timelog['logitem']['Logitem'].startAt}}">
 
    <label for="breakOut">Break Out: </label><input type="time" id="breakOut" value="{{timelog['logitem']['Logitem'].breakOut}}">
       <br>
    <label for="breakIn">Break In: </label><input type="time" id="breakIn" value="{{timelog['logitem']['Logitem'].breakIn}}">
 
    <label for="endAt">End time: </label><input type="time" id="endAt" value="{{timelog['logitem']['Logitem'].endAt}}">
  </p>  
    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" (click)="closeEdit()">Close</button>
    </mat-dialog-actions>
</form>
</mat-card>
</mat-dialog-content>