<app-header></app-header>
<mat-card>
    <form (submit)="onAddLog(addLogForm)" #addLogForm="ngForm">
    <mat-form-field>
    <input
        matInput
        [matDatepicker]="picker" 
        name="day"
        [ngModel]="day"
        placeholder="Log Date"/>
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
        <br>
  <mat-form-field>
      <input 
            matInput
            type="time"
            name="startAt"
            [ngModel]='startAt'
            value=""
            #startAt="ngModel"/>
   <!--   <mat-error *ngIf="startAt.invalid">Start Time</mat-error> -->
  </mat-form-field>
  <mat-form-field>
      <input 
            matInput
            type="time"
            name="breakOut"
            [ngModel]='breakOut'
            value=""
            #startAt="ngModel"/>
   <!--  <mat-error *ngIf="breakOut.invalid">Break</mat-error> -->
  </mat-form-field>
          <mat-form-field>
      <input 
            matInput
            type="time"
            name="breakIn"
            [ngModel]='breakIn'
            value=""
            #startAt="ngModel"/>
 <!--    <mat-error *ngIf="breakIn.invalid">Break</mat-error> -->
  </mat-form-field>
          <mat-form-field>
      <input 
            matInput
            type="time"
            name="endAt"
            [ngModel]='endAt'
            value=""
            #startAt="ngModel"/>
   <!--   <mat-error *ngIf="endAt.invalid">End At</mat-error> -->
  </mat-form-field>
    <br>
    <button 
        mat-raised-button
        color='primary'
        type="submit">
    Save
    </button>
    
    </form>
  
</mat-card>