<app-header></app-header>
<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<p>{{userName}}, showing {{logs.length}} of {{allLogs}} Logs.</p>
<mat-accordion multi="false" *ngIf="allLogs > 0 && !isLoading">
        <mat-expansion-panel *ngFor="let log of logs; let i=index;">
                <mat-expansion-panel-header>
                    <span class="badge">{{log.day | date:'fullDate'}}</span>
                </mat-expansion-panel-header>
                <p>{{log['Logitem'].startAt}} - {{log['Logitem'].breakOut}} - {{log['Logitem'].breakIn}} - {{log['Logitem'].endAt}}</p>
                <mat-action-row>
                    <button mat-raised-button color="accent" (click)="onEdit($event)" type="submit" id="{{log.id}}">Edit</button>
                </mat-action-row>
        </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="allLogs" [pageSize]="logsPerPage" (page)="onChangedPage($event)" *ngIf="allLogs > logsPerPage"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="allLogs <= 0">Sorry, no logs found!</p>
</mat-card>