<app-header></app-header>
<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onEdit(editForm)" #editForm="ngForm">
<p>Found {{logs.length}}</p>
<mat-accordion *ngIf="logs.length >0 ">
    <form (submit)="onEdit(editForm)" #editForm="ngForm" *ngIf="!isLoading">
        <mat-expansion-panel *ngFor="let log of logs; let i=index;">
            <mat-expansion-panel-header>
                <span class="badge">Dia: {{log.day}}</span>
            </mat-expansion-panel-header>
            <p> {{log['Logitem'].startAt}} - {{log['Logitem'].breakOut}} - {{log['Logitem'].breakIn}} - {{log['Logitem'].endAt}}</p>
            <mat-action-row>
                <button mat-raised-button color="primary" type="submit" id="{{log.id}}">Edit</button>
            </mat-action-row>
        </mat-expansion-panel>
    </form>
</mat-accordion>
</form>
<p class="info-text mat-body-1" *ngIf="logs.length <= 0">No Acces recorded yet for user </p>
</mat-card>