<mat-card>
<br>
<mat-accordion *ngIf="logs.length >0 ">
    <mat-expansion-panel *ngFor="let log of logs; let i=index;">
    <mat-expansion-panel-header>
        
            <span class="badge">
                <a routerLink="/{{key}}/logs/{{log.id}}">{{log.day}}</a>
            </span>
    </mat-expansion-panel-header>
      <p>{{log.userId}}</p>
        {{log.startAt}}
        
        <mat-action-row>
        
      <a mat-button color="primary" routerLink="'/{{key}}/logs/{{log.id}}'">Edit</a>
        
        </mat-action-row>
        
</mat-expansion-panel>
</mat-accordion>
    {{logs.length}}
<p class="info-text mat-body-1"*ngIf="logs.length <= 0">No Acces recorded yet for user </p>
</mat-card>