<mat-card>
  <button mat-raised-button
          color="primary"
          (click)="add()">
    Add
  </button>
<br>
<mat-accordion>
    <mat-expansion-panel *ngFor="let log of logs; let i=index;">
    <mat-expansion-panel-header>
        <a routerLink="/log-details/{{log._id}}">
            <span class="badge">{{i+1}}</span>{{log.day}}
        </a>
    </mat-expansion-panel-header>
    <button mat-raised-button
            color="warn"
            class="delete" 
            title="delete Log"
            (click)="delete(log._id)">x</button>
</mat-expansion-panel>
</mat-accordion>

</mat-card>