<mat-card>
<br>
<mat-accordion *ngIf="logs.length >0 ">
    <mat-expansion-panel *ngFor="let log of logs; let i=index;">
    <mat-expansion-panel-header>
        <a routerLink="/log/{{log._id}}">
            <span class="badge">{{log.day}}</span>
        </a>
    </mat-expansion-panel-header>
      <p>{{log.userId}}</p>
        {{log.startAt}}
        <mat-action-row>
        
        <a mat-buttn color="primary" [routerlink]="['/edit', log.id]">EDIT</a>
        
        </mat-action-row>
        
</mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1"*ngIf="logs.length <= 0">No Acces recorded yet!</p>

</mat-card>