<mat-dialog-content>
<div *ngIf="!avatar">
<img src="assets/users/none.png" height="120" width="120" class="rounded-circle">
</div>
    <div class="header"><h1>HIGH {{userName}}</h1></div>
<hr>
{{displayToday}}, 
<app-clock></app-clock>
  <div class="message">
    <div class="state">
        <button mat-raised-button color="primary" (click)="onCheck()">Check Login Time</button>
    </div>
      <div class="state">
        <h2>Start registered at: {{loginTime}}</h2><br>
          
      </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions  style="text-align: center">
        <button class="mat-raised-button"(click)="next()" color="primary">View Logs</button>
        <button class="mat-raised-button"(click)="close()" color="primary">Close</button>
</mat-dialog-actions>