<mat-dialog-content>
<img src="assets/users/none.png" height="120" width="120" class="rounded-circle">
    <div class="header"><h1>HIGH {{userName}}</h1></div>
<hr>
{{displayToday}}, 
<app-clock></app-clock>
  <div class="message">
        <h2>Start Day @ {{startAt}}</h2><br>
          <p><span *ngIf="breakOut">Clock Out @ {{breakOut}}</span><span *ngIf="breakIn"> Clocked In @ {{breakIn}}</span></p>
          <button class="clockBtn" *ngIf="!breakOut" mat-raised-button color="primary" (click)="setClockTime($event)" id="1">Clock Out</button>
          <button class="clockBtn" *ngIf="!breakIn" mat-raised-button color="primary" (click)="setClockTime($event)" id="2">Clock In</button><br>
          <span *ngIf="endAt"><br>End Day: {{endAt}}</span>
          <button class="clockBtn" *ngIf="!endAt" mat-raised-button color="primary" (click)="setClockTime($event)" id="3">End Day</button>
  </div>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="viewLogs()">View Past Logs</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="closeUser()">Close</button>
</mat-dialog-actions>
