<mat-dialog-content>
<div *ngIf="!avatar">
<img src="assets/users/none.png" height="120" width="120" class="rounded-circle">
</div>
    <div class="header"><h1>HIGH {{userName}}</h1></div>
<hr>
{{displayToday}}, 
<app-clock></app-clock>
  <div class="message">
    <div class="state">
   <!--     <button mat-raised-button color="primary" (click)="onCheck()">Check Login Time</button> -->
    </div>
      <div class="state">
        <h2>Start registered at: {{startAt}}</h2><br>
          <span *ngIf="breakOut">Break between {{breakOut}}</span>
          <button *ngIf="!breakOut" mat-raised-button color="primary" (click)="onCheck()">Break Out</button>
          <span *ngIf="breakIn"> - {{breakIn}}</span>
          <button *ngIf="!breakIn" mat-raised-button color="primary" (click)="onCheck()">Break In</button>
          <span *ngIf="endAt"><br>End at: {{endAt}}</span>
          <button *ngIf="!endAt" mat-raised-button color="primary" (click)="onCheck()">End At</button>
      </div>
  </div>
</mat-dialog-content>
<div class="footerButtons">
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="viewLogs()">View Past Logs</button>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" (click)="closeUser()">Close</button>
    </mat-dialog-actions>
</div>