img{
  border-radius: 50%;
}
.header{
  text-align: center;
}
.message{
  text-align: center;
}
.spacer{
  margin-left: auto;
}
.clockBtn {
  display: block;            
  width: 100%;
  padding: 20,0,20,0;
  text-align: center;
}